<!DOCTYPE html>
<html>
  <head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


    <link rel='stylesheet' href='/stylesheets/styledemo.css'/>


    <title><%= title %></title>


  </head>
  <body>


    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Schedule Pro</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/promo">Promo</a></li>
            <li><a href="/demo">Demo</a></li>

          </ul>
        </div>
      </nav>






<img src="http://www.techotopia.com/images/f/f2/Xcode_5_welcome_Screen.png" alt="HTML5 Icon" style="width:900px;height:500px;">






  <h4>Para beneficio de ustedes, hemos creado una representación en tiempo real de nuestra aplicación.</h4>




  </body>
</html>
