<!DOCTYPE html>
<html>
  <head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css'/>


    <title><%= title %></title>


  </head>
  <body>


        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Schedule Pro</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#home">Home</a></li>
                <li><a href="/promo">Promo</a></li>
                <li><a href="/demo">Demo</a></li>

              </ul>
            </div>
          </nav>

          <style>
          body {
            background: url("mybackgroundimage.gif") repeat;
          }
          #banner {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 1800px;
            z-index: -1;
          }
          </style>
          </head>
          <body>
            <img id="banner" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Solid_black.svg/1024px-Solid_black.svg.png" alt="Banner Image"/>
          </body>


 <img id="start" src="http://rightarmdevelopment.com/images/homepageslider/medoffice.jpg" alt="HTML5 Icon" style="width:1200px;height:500px;">






<div class="text">

<h3><strong>Problema</strong></h3>
  <h4>La emigracion de medicos ha tenido como consecuencias que los pacientes en P.R. se les dificulte adquirir una cita y esto provoca una perdida de tiempo significativa. Ya que los doctores que estan tienen un cupo alto.</h4>

</div>


<div class="text">

<h3><strong>Proceso</strong> </h3>
<h4>Sin salir de nuestras rutinas diarias; desde la palma de nuestras manos; seria ideal que a la punta de tus dedos pudiesemos tener citas y/o turnos en oficinas y lugares profecionales.</h4>

</div>


<div class="text">

<h3><strong>Producto</strong></h3>
<h4>Por eso hemos creado "Schedule Pro". Un app diseñada para crear citas desde tu telefono celular, tableta, etc. Un servicio Profecional al alcanze de todos.</h4>

</div>


<div class="text">

<h3><strong>Servicios</strong></h3>
<h4>Brindarle comunicacion al cliente de euna manera rapida y sencilla; igualmente para que el Doctor o Medicos utilize la misma.</h4>

</div>


<div class="text">

<h3><strong>Valores</strong></h3>
<h4>Compromiso, simplicidad, confianza y emprendimiento</h4>

</div>

  </body>
</html>
