<!DOCTYPE html>
<html>
  <head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css'/>


    <title><%= title %></title>


  </head>
  <body>


        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Schedule Pro</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#home">Home</a></li>
                <li><a href="/promo">Promo</a></li>
                <li><a href="/demo">Demo</a></li>
              </ul>
            </div>
          </nav>




<img src="http://rightarmdevelopment.com/images/homepageslider/medoffice.jpg" alt="HTML5 Icon" style="width:1200px;height:500px;">








<h3><strong>Problema</strong></h3>
  <h4>La emigracion de medicos ha tenido como consecuencias que los pacientes en P.R. se les ha hecho mas dificil adquirir una cita y provoca el gasto de tiempo por la Misma.</h4>


<h3><strong>Proceso</strong> </h3>
<h4>Sin sali de nuestras rutinas diarias; desde la palma de nuestras manos; seria ideal que a la punta de tus dedos pudiesemos tener citas y/o turnos en oficinas y lugares profecionales.</h4>

<h3><strong>Producto</strong></h3>
<h4> Por eso hemos creado "Schedule Pro". Un app diseñada para creat citas desde tu telefono celular, tableta, etc. Un servicio Profecional al alcanze de todos.</h4>


  </body>
</html>
