body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("paper.gif");
  background-color: #cccccc;
}
a {
  align: center;
}

h3 {
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h4 {
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#start {
  display: block;
   margin: auto;
   width: 40%;


}
 .text  {
   margin-top: 70px;


 }
